html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  color: inherit;
}

.col-1-of-4 {
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-2-of-4 {
  width: calc(50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
}

.col-3-of-4 {
  width: calc(75% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-4-of-4 {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  line-height: 1.4em;
}

h3 {
  font-size: 26px;
  margin-bottom: 1.5em;
}

h4 {
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h5 {
  font-size: 18px;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.uppercase {
  color: #9a9b9b;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

.album-title {
  font-size: 24px;
  color: white;
}

.song-title {
  font-size: 36px;
  color: #0fd65a;
  text-align: center;
}

.back-button:after {
  content: '';
  width: 2em;
  height: 2em;
  background-image: url("../img/back_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.app {
  width: 570px;
  height: 100%;
  background-color: #1b1b1b;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
}
.navigation .burger:after {
  content: '';
  width: 2em;
  height: 2em;
  background-image: url("../img/more_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.navigation .about-song {
  text-align: center;
}

.navigation-bottom {
  background-color: white;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-bottom .bottom-burger {
  margin-right: 2em;
}
.navigation-bottom .bottom-burger:after {
  content: '';
  width: 2em;
  height: 2em;
  background-image: url("../img/playlist_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.navigation-bottom .uppercase {
  text-align: left;
  margin-bottom: 0;
}
.navigation-bottom .song-duration {
  color: #9a9b9b;
}

.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
}
.slick-slide img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.slick-current img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.slick-slide {
  outline: none !important;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em;
}

.progress-bar {
  margin: 2em;
  color: #9a9b9b;
}
.progress-bar input {
  width: 80%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}
