html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h3 {
  font-size: 26px;
  margin-bottom: 1.5em;
}

h4 {
  font-size: 20px;
  margin-bottom: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.uppercase {
  color: #9a9b9b;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

.album-title {
  font-size: 24px;
  color: white;
}

.song-title {
  font-size: 36px;
  color: #0fd65a;
  text-align: center;
  margin-bottom: 0.5em;
}

.current-song-title {
  color: #0fd65a;
  font-size: 24px;
}

.divider {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-bottom: 0.5em;
}

.artist {
  margin-bottom: 0.5em;
}

.back-button {
  z-index: 2;
}
.back-button:after {
  content: '';
  width: 2em;
  height: 2em;
  display: inline-block;
  background-image: url("../img/back_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button-shuffle-play {
  display: block;
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding: 1em;
  color: white;
  z-index: 2;
  background-color: #0fd65a;
  border-radius: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-hide {
  position: relative;
  width: 100%;
}
.btn-hide img {
  display: block;
  margin: 1em auto;
  width: 2em;
  height: 2em;
}

.app {
  position: relative;
  width: 570px;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #1b1b1b;
}
.app:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(50%, #1b1b1b));
  background: linear-gradient(to bottom, transparent 20%, #1b1b1b 50%);
}
.app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: url("../img/bg_image.jpg") no-repeat;
}
.app .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -2;
  background-color: rgba(27, 27, 27, 0.96);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
}
.navigation .burger {
  cursor: pointer;
  z-index: 3;
}
.navigation .burger:after {
  content: '';
  width: 2em;
  height: 2em;
  background-image: url("../img/more_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.navigation .about-song {
  text-align: center;
}
.navigation .side-menu {
  background-color: rgba(27, 27, 27, 0.96);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  left: 100%;
}
.navigation .side-menu .cover-small {
  margin-top: 9em;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.navigation .side-menu ul li {
  color: white;
  margin-bottom: 1em;
}
.navigation .side-menu ul li a {
  text-decoration: none;
  font-size: 24px;
}
.navigation.active .side-menu {
  left: 0%;
  opacity: 1;
}

.navigation-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: calc(100% - 90px);
  width: 100%;
  height: 100%;
  padding: 2em;
  overflow-y: visible;
  z-index: 4;
  background-color: white;
  -webkit-transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-bottom .bottom-burger {
  margin-right: 2em;
}
.navigation-bottom .bottom-burger:after {
  content: '';
  width: 2em;
  height: 2em;
  background-image: url("../img/playlist_ico.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}
.navigation-bottom .uppercase {
  text-align: left;
  margin-bottom: 0;
}
.navigation-bottom .song-duration {
  color: #9a9b9b;
  float: right;
  background: white;
}
.navigation-bottom .back-button,
.navigation-bottom .header,
.navigation-bottom .track-list {
  display: none;
}
.navigation-bottom.active {
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: auto;
  padding: 0;
}
.navigation-bottom.active .next-song {
  display: none;
}
.navigation-bottom.active .bottom-burger {
  display: none;
}

.slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
}
.slick-slide img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.slick-slide h2 {
  margin-top: 0.5em;
}
.slick-slide h2,
.slick-slide h3 {
  opacity: 0;
}

.slide {
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slide.slick-active,
.slide.slick-center {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slick-current .cover-container {
  position: relative;
}
.slick-current .cover-container:before {
  content: '';
  background: black;
  border: 2px solid #0fd65a;
  width: 4em;
  height: 4em;
  position: absolute;
  display: inline-block;
  border-radius: 2em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.slick-current .cover-container:after {
  content: '';
  background-image: url("../img/daft_logo.svg");
  background-repeat: no-repeat;
  bakcground-size: cover;
  width: 2em;
  height: 2em;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.slick-current h2,
.slick-current h3 {
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.slick-slide {
  outline: none !important;
}

.app.active .slick-current .cover-container {
  -webkit-animation: rotation 5s infinite linear;
  animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
input {
  position: absolute;
  top: 15px;
  left: 15px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 2em 0;
}
.controls a:hover svg {
  stroke: #0fd65a;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.progress-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 2em;
  color: #9a9b9b;
}
.progress-bar-container .progress-bar {
  margin: 2em;
  height: 2px;
  width: 100%;
  background: black;
  position: relative;
}
.progress-bar-container .progress-bar span {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20%;
  height: 5px;
  top: 50%;
  background-color: #9a9b9b;
}

.play .active {
  opacity: 0;
  display: none;
}
.play .inactive {
  opacity: 1;
  display: block;
}
.play.active .active {
  opacity: 1;
  display: block;
}
.play.active .inactive {
  opacity: 0;
  display: none;
}
.play img {
  width: 8em;
  height: 8em;
}

.navigation-bottom.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(80%, white));
  background: linear-gradient(to bottom, transparent 20%, white 80%);
}
.navigation-bottom.active .track-list {
  width: 100%;
  display: block;
}
.navigation-bottom.active .track-list .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-bottom.active .track-list .header:after {
  content: '';
  width: 100%;
  height: 130px;
  position: absolute;
  z-index: -1;
  background: url("../img/bg_image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
}
.navigation-bottom.active .track-list .header .track-list-overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 130px;
  z-index: 10;
  background-color: rgba(27, 27, 27, 0.96);
}
.navigation-bottom.active .track-list .header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  z-index: 20;
  padding: 1em 2em 0;
}
.navigation-bottom.active .track-list .current-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 2em;
}
.navigation-bottom.active .track-list .back-button {
  display: block;
}
.navigation-bottom.active .track-list .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.navigation-bottom.active .track-list .play img {
  width: 6em;
  height: 6em;
}
.navigation-bottom.active .track-list ol {
  padding: 2em;
  background-color: white;
}
.navigation-bottom.active .track-list ol li {
  display: list-item;
  overflow: hidden;
  counter-increment: step-counter;
  margin-bottom: 1em;
  font-size: 24px;
}
.navigation-bottom.active .track-list ol li .title {
  background: white;
  padding-right: 0.5em;
  padding-left: 1em;
}
.navigation-bottom.active .track-list ol li .item-number {
  color: #9a9b9b;
  background: white;
}
.navigation-bottom.active .track-list ol li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  color: #9a9b9b;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}
