
@import "base/reset";
@import "base/colors";
@import "base/typography";

@import "components/buttons";
@import "components/main";
@import "components/navigation";
@import "components/slider";
@import "components/controls";
@import "components/track-list";

* {
    box-sizing: border-box;
}
body {
	background-color: black;
	font-family: 'Source Sans Pro', sans-serif;
}