.back-button {
	&:after {
		content: '';
		width: 2em;
		height: 2em;
		background-image: url('../img/back_ico.svg');
		background-repeat: no-repeat;
		background-size: contain;
	    background-position: center;
	    display: inline-block;
	}
}
.button-shuffle-play {
	background-color: $green;
	width: 85%;
	color: white;
	display: block;
    border-radius: 1.25em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}