.back-button {
	z-index: 2;
	&:after {
		content: '';
		width: 2em;
		height: 2em;
		display: inline-block;
		background-image: url('../img/back_ico.svg');
		background-repeat: no-repeat;
		background-size: contain;
	    background-position: center;
	}
}
.button-shuffle-play {
	display: block;
	position: relative;
	width: 85%;
	margin: 0 auto;
	padding: 1em;
	color: white;
	z-index: 2;
	background-color: $green;
    border-radius: 1.25em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-hide {
	position: relative;
	width: 100%;
	img {
		display: block;
		margin: 1em auto;
		width: 2em;
		height: 2em;
	}
}