.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2em 0;
	a {
		&:hover {
			svg {
				stroke: $green;
				transition: 0.5s linear;
			}
		}
	}
}
.progress-bar-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
   	color: $lightGray;
	.progress-bar {
		margin: 2em;
		height: 2px;
		width: 100%;
	    background: black;
	    position: relative;
	    .progress-bar-animation {
	    	animation-name: loading;
            animation-timing-function: linear;
	    	position: absolute;
	    	display: inline-block;
	    	transform: translateY(-50%);
	    	width: 20%;
	    	height: 5px;
		    top: 50%;
		    background-color: $lightGray;
	    
	    }
	}
}
.play {
	.active { 
		opacity: 0;
		display: none;
	}
	.inactive {
		opacity: 1;
		display: block;
	}
	&.active {
		.active {
			opacity: 1;
			display: block;
		}
		.inactive {
			opacity: 0;
			display: none;
		}
	}
	img {
		width: 8em;
    	height: 8em;
	}
}
@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}