.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0  2em 0;
	a {
		&:hover {
			svg {
				stroke: $green;
				transition: 0.5s linear;
			}
		}
	}
}
.progress-bar-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
   	color: $lightGray;
	.progress-bar {
		margin: 2em;
		height: 2px;
	    background: black;
	    position: relative;
	    width: 100%;
	    span {
	    	display: inline-block;
	    	width: 20%;
	    	height: 5px;
	    	position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    background-color: $lightGray;
	    
	    }
	}
}
.play {
	.active { 
		opacity: 0;
		display: none;
	}
	.inactive {
		opacity: 1;
		display: block;
	}
	&.active {
		.active {
			opacity: 1;
			display: block;
		}
		.inactive {
			opacity: 0;
			display: none;
		}
	}
	img {
		width: 8em;
    	height: 8em;
	}
}