.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
	.burger {
		cursor: pointer;
		z-index: 3;
		&:after {
			content: '';
			width: 2em;
			height: 2em;
			background-image: url('../img/more_ico.svg');
			background-repeat: no-repeat;
			background-size: contain;
		    background-position: center;
		    display: inline-block;
		}
	}
	.about-song {
		text-align: center;
	}
	.side-menu {
		background-color: rgba(27,27,27,0.96);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    z-index: 1;
	    width: 100%;
	    text-align: center;
	    transition: .5s ease;
	    opacity: 0;
    	left: 100%;
		.cover-small {
			margin-top: 9em;
			transform: scale(0.7, 0.7);
		}
		 ul {
    		li {
    			color: white;
    			margin-bottom: 1em;
    			a {
    				text-decoration: none;
    				font-size: 24px;
    				color: white;
    				&:hover  {
    					color: $green;
    					transition: color .2s linear;
    				}
    			}
    		}
    	}

	}
	&.active {
		.side-menu {
			left: 0%;
    		opacity: 1;
		}
	}
}

.navigation-bottom {
	display: flex;
	position: absolute;
   	top: calc(100% - 110px);
	width: 100%;
    height: 100%;
	padding: 2em;
    overflow-y: visible;
    z-index: 4;
    background-color: white;
    transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);

	.bottom-burger {
		margin-right: 2em;
		&:after {
			content: '';
			width: 3em;
			height: 3em;
			background-image: url('../img/playlist_ico.svg');
			background-repeat: no-repeat;
			background-size: contain;
		    background-position: center;
		    display: inline-block;
		}
	}
	.uppercase {
		text-align: left;
		margin-bottom: 0;
		line-height: 1.2em;
	}
	.song-duration {
		color: $lightGray;
		float: right;
		padding-left: 1em;
		background: white;
	}

	.back-button,
	.header,
	.track-list {
		display: none;
	}
	&.active {
        top: 0;
        height: 100%;
        width: 100%;
        align-items: flex-start;
        overflow: auto;
        padding: 0;
        .next-song {
        	display: none;
        }
        .bottom-burger {
        	display: none;
        }
    }
}